@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    @apply bg-primary;
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    border-radius: 12px;
}

body {
    @apply dark:bg-dark flex flex-col bg-light text-black dark:text-white;
    min-height: 100vh;
}

footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
    margin-top: 100px;
}

.container {
    @apply m-auto max-w-10xl;
}

.app-nav {
    @apply bg-light bg-opacity-25 backdrop-filter backdrop-blur-md p-6 fixed z-10 w-full;
    margin-top: 0;
}
.footer {
    @apply bg-dark py-3 text-white px-3
}
.nav-link {
    @apply font-bold hover:text-primary hover:border-b-primary transition relative p-2 overflow-hidden duration-500 delay-500;
}

.nav-link::before,
.nav-link::after {
    @apply absolute rounded w-full bg-primary transition-all duration-500;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: -100%;
    transition-property: left, box-shadow;
    transition-delay: 0ms, 500ms;
}

.nav-link span::before,
.nav-link span::after {
    @apply absolute h-full bg-primary transition-all duration-500;
    width: 2px;
    content: "";
    left: 0px;
    top: -50%;
    transform: translateY(-50%) translateX(0);
    transition-property: top, box-shadow;
    transition-delay: 0ms, 500ms;
}

.nav-link::after {
    top: 0px;
    left: 100%;
}

.nav-link span::after {
    left: 100%;
    top: 0%;
    transform: translateY(100%) translateX(-100%);
}

.nav-link:hover span::before {
    top: 50%;
}
.nav-link:hover span::after {
    top: -100%;
}
.nav-link:hover::before,
.nav-link:hover::after {
    left: 0;
}
.logo {
    @apply flex items-center gap-2 text-2xl font-black;
}
.link {
    @apply hover:text-primary duration-200 transition 
} 