@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    @apply bg-primary;
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    border-radius: 12px;
}

body {
    @apply dark:bg-dark flex flex-col bg-light text-black dark:text-white;
    min-height: 100vh;
}

footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
    margin-top: 100px;
}

.container {
    @apply m-auto max-w-10xl;
}

.app-nav {
    @apply bg-light bg-opacity-25 backdrop-filter backdrop-blur-md p-6 fixed z-10 w-full;
    margin-top: 0;
}
.footer {
    @apply bg-dark py-3 text-white px-3;
}
.nav-link {
    @apply flex items-center w-full font-semibold hover:text-primary hover:border-b-primary transition relative p-2 overflow-hidden duration-500 delay-500;
}
.nav-link span {
    @apply ml-1;
}
.nav-link::before,
.nav-link::after {
    @apply absolute rounded w-full bg-primary transition-all duration-500;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: -100%;
    transition-property: left, box-shadow;
    transition-delay: 0ms, 500ms;
}

.nav-link span::before,
.nav-link span::after {
    @apply absolute h-full bg-primary transition-all duration-500;
    width: 2px;
    content: "";
    left: 0px;
    top: -50%;
    transform: translateY(-50%) translateX(0);
    transition-property: top, box-shadow;
    transition-delay: 0ms, 500ms;
}

.nav-link::after {
    top: 0px;
    left: 100%;
}

.nav-link span::after {
    left: 100%;
    top: 0%;
    transform: translateY(100%) translateX(-100%);
}

.nav-link:hover span::before {
    top: 50%;
}
.nav-link:hover span::after {
    top: -100%;
}
.nav-link:hover::before,
.nav-link:hover::after {
    left: 0;
}
.logo {
    @apply flex items-center gap-2 text-2xl font-black;
}
.link {
    @apply hover:text-primary duration-200 transition flex items-center;
}

.flexCenter {
    @apply flex items-center justify-center;
}
.flexBetween {
    @apply flex justify-between items-center;
}

.flexStart {
    @apply flex items-center justify-start;
}

.profile-menu {
    @apply flex-col absolute right-1/2 translate-x-1/2 mt-3 p-7 sm:min-w-[300px] min-w-max rounded-xl bg-light border shadow-menu;
}

.modal-head-text {
    @apply md:text-5xl text-3xl font-extrabold text-left max-w-5xl w-full;
}

.modal {
    @apply fixed z-10 left-0 right-0 top-0 bottom-0 mx-auto bg-black/80;
}

.modal-wrapper {
    @apply flex justify-start items-center flex-col absolute h-[95%] w-full bottom-0 bg-light lg:px-40 px-8 pt-14 pb-72 overflow-auto;
}

.form {
    @apply flex-col w-full lg:pt-24 pt-12 gap-10 text-lg max-w-5xl mx-auto;
}

.form-image-container {
    @apply w-full relative;
}

.form-image-label {
    @apply z-10 text-center w-full h-full p-20 text-gray-500 border-2 border-primary border-dashed;
}

.form-image-input {
    @apply absolute z-30 w-full opacity-0 h-full cursor-pointer top-0;
}
.form-field-input {
    @apply w-full outline-0 bg-primary-200 rounded-xl p-4;
}

textarea {
    resize: none;
}

.custom-menu-btn {
    @apply gap-4 w-full rounded-md bg-primary-200 p-4 text-base outline-none capitalize;
}

.custom-menu-items {
    @apply flex-col absolute left-0 mt-2  max-h-64 origin-top-right rounded-xl bg-light border w-full  shadow-menu overflow-y-auto;
}

.custom-menu-item {
    @apply text-left w-full px-5 py-2 text-sm hover:bg-primary self-start whitespace-nowrap capitalize;
}

.btn {
    @apply bg-primary px-8 py-4 hover:bg-secondary transition-all duration-500 hover:text-white rounded-xl;
}
.products-grid {
    @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5 mt-10 w-full;
}
.no-result-text {
    @apply w-full text-center my-10 px-2 text-2xl text-gray-500;
}

.profile-menu-items {
    @apply flex-col absolute right-1/2 translate-x-1/2 mt-3 p-7 sm:min-w-[300px] min-w-max rounded-xl bg-light border shadow-menu;
}

.profile-card-title {
    @apply justify-end items-end w-full h-1/3 bg-secondary gap-2 absolute bottom-0 right-0 font-semibold text-lg text-white p-4;
}

figure {
    @apply bg-no-repeat;
}

figure:hover img {
    @apply opacity-0;
}

figure img {
    @apply block w-full pointer-events-none;
}

.discount {
    @apply absolute font-semibold -top-3/4 -left-6 text-white text-2xl bg-primary rounded-full px-2 py-1 -rotate-12;
}

/* Project Actions */
.edit-action-btn {
    @apply p-1 text-gray-100 bg-primary rounded-lg hover:bg-primary-200 transition-all duration-500;
}

.delete-action-btn {
    @apply p-1 text-gray-100 hover:bg-red-600 rounded-lg transition-all duration-500;
}
